@model IEnumerable<Traders.Models.ClientDiversityViewModel>

@{
    ViewData["Title"] = "Holds";
}

<h1>Holds</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmmountBTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmmountETH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmmountUSDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_DiversityPartial" model="@Model.ToList()" />
    </tbody>
</table>
