@model Traders.Models.ClientsViewModel

@{
    ViewData["Title"] = "Detalles Cliente Nro. " + Model.Code;
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="card-header">
        Contratos
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Futures.FirstOrDefault().ContractNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Futures.FirstOrDefault().Capital)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Futures.FirstOrDefault().StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Futures.FirstOrDefault().FinishDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <partial name="_FuturesPartial" model="@Model.Futures.ToList()" />
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-outline-warning">Volver</a>
    </div>
</div>
