@model IEnumerable<Traders.Models.FuturesViewModel>
@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ContractNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Client.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Participation.Percentage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FinalResult)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FinishDate)
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Detalles</a> 
        <a asp-action="Create" asp-controller="RetireFutures" asp-route-id="@item.Id" class="btn btn-primary">Retira</a>
    </td>
</tr>
}