@model Traders.Models.FuturesViewModel 
@{

    if (ViewBag.Date == null)
        ViewBag.Date = String.Format("{0:yyyy-MM-dd}", DateTime.Now);
    else
        String.Format("{0:yyyy-MM-dd}", DateTime.Now);
}
@{
    ViewData["Title"] = "Detalles Contrato" + Model.Id;
}



<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <hr />
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ContractNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ContractNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Participation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Participation.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Capital)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Capital)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FinalResult)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FinalResult)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Index" cclass="btn btn-outline-warning">Volver</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FuturesUpdates.FirstOrDefault().ModifDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FuturesUpdates.FirstOrDefault().Gain)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FuturesUpdates.FirstOrDefault().GainFinal)
                    </th>
                </tr>
            </thead>
            <tbody>
                <partial name="_FuturesUpdatesPartial" model="@Model.FuturesUpdates.ToList()" />
            </tbody>
        </table>
    </div>
</div>

