@model IEnumerable<Traders.Models.FuturesViewModel>

@{
    if (ViewBag.Date == null)
        ViewBag.Date = String.Format("{0:yyyy-MM-dd}", DateTime.Now);
    else
        String.Format("{0:yyyy-MM-dd}", DateTime.Now);
    ViewData["Title"] = "Futuros";
}

<h1>Futuros</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <a class="btn btn-primary" asp-action="Create">Nuevo Contrato</a>
            </p>
        </div>
        <div class="col-8">
            <div class="row">
                <label class="col-form-label col-md-3 col-sm-12">@Html.DisplayNameFor(model => model.ContractNumber)</label>
                <input id="ContractNumber" name="contractNumber" type="number" class="form-control col-md-3 col-sm-12" value="100" />
                <button class="btn btn-primary col-md-2 col-sm-12" onclick="SearchFuturesWithCN('@Url.Action("SearchFuturesWithCN","Futures")')">Buscar</button>
                <button class="btn btn-secondary col-md-2 col-sm-12" onclick="SearchAllFutures('@Url.Action("SearchFutures","Futures")')">Limpiar</button>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-danger" onclick="SendReport('@Url.Action("ExportReport", "FuturesReport")')">Enviar Reporte</button>
        </div>

    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FixRentPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="FuturesPartial">
        <partial name="_FuturesPartial" model="@Model.ToList()" />
    </tbody>
</table>

@section Scripts {
    <script src="~/js/futures.js"></script>
}