@model IEnumerable<Traders.Models.FuturesViewModel>

@{
    ViewData["Title"] = "Futuros";
}

<h1>Futuros</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <a class="btn btn-primary" asp-action="Create">Nuevo Contrato</a>
            </p>
        </div>

        <div class="col-2">
            <button class="btn btn-outline-danger" onclick="SendReport('@Url.Action("ExportReport", "FuturesReport")')">Enviar Reporte</button>
        </div>

    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_FuturesPartial" model="@Model.ToList()" />
    </tbody>
</table>

@section Scripts {
    <script src="~/js/futures.js"></script>
}