@model IEnumerable<Traders.Models.MovementsViewModel>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateMov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Badges.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccounts.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgesS.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccountsS.Name)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
        </td>
    </tr>
}