@model Traders.Models.MovementsViewModel

@{
    ViewData["Title"] = "Detalles de movimiento" + Html.DisplayFor(model => model.Id);
}

<div class="card mb-3">
    <div class="card-header">
        Detalles del movimiento @Html.DisplayFor(model => model.Id)
    </div>
    <div class="card-body">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateMov)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.DateMov)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserGuid)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.UserGuid)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountIn)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.AmountIn)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.BadgeGuidIn)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.BadgeGuidIn)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountGuidIn)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccountGuidIn)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOut)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOut)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.BadgeGuidOut)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.BadgeGuidOut)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountGuidOut)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccountGuidOut)
        </div>
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comission)
        </div>
        <div class="col-sm-10">
            @Html.DisplayFor(model => model.Comission) USD
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index">Volver</a>
    </div>
</div>
