@model Traders.Models.MovementsViewModel

@{
    ViewData["Title"] = "Detalles de movimiento" + Html.DisplayFor(model => model.Id);
}

<div class="card">
    <div class="card-header">
        Detalles del movimiento @Html.DisplayFor(model => model.Id)
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.DateMov)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.DateMov)
            </div>
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.UserGuid)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.UserGuid)
            </div>
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.AmountIn)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.AmountIn)
            </div>
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.Badges)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Badges.Name)
            </div>
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.BankAccounts)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.BankAccounts.Name)
            </div>
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.AmountOut)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.AmountOut)
            </div>
            <div class="col-2">
                <b>Divisa Salida</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.BadgesS.Name)
            </div>
            <div class="col-2">
                <b>Cuenta Salida</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.BankAccountsS.Name)
            </div>
            <div class="col-2">
                <b>@Html.DisplayNameFor(model => model.Comission)</b>
            </div>
            <div class="col-10">
                @Html.DisplayFor(model => model.Comission) USD
            </div>
            @{
                if (Model.CorrelationId != null)
                {
                    <div class="col-2">
                        <b>@Html.DisplayNameFor(model => model.CorrelationId)</b>
                    </div>
                    <div class="col-10">
                        <a asp-action="Details" asp-route-id="@Model.CorrelationId"> >@Html.DisplayFor(model => model.CorrelationId)</a>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-primary">Volver</a>
    </div>
</div>
